html, body {
  font-family: "Arial", sans-serif;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif; }

.row {
  margin: 0 !important; }

a {
  text-decoration: none !important; }

button:focus {
  outline: 0 !important; }

.nopadding {
  padding: 0 !important; }

.nomargin {
  margin: 0 !important; }

.container {
  float: left;
  width: 100%;
  padding: 0; }

.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%; }

.flexleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%; }

.flexright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  height: 100%; }

.flexbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%; }

.flexbottomleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%; }

.app-row {
  display: block;
  width: 100vw;
  float: left;
  border-bottom: solid 1px #bebebe;
  padding: 15px 5px; }
  .app-row.favorite span.star {
    color: #dce15f;
    padding-right: 5px; }
  .app-row.favorite span.big {
    font-size: 28px;
    font-weight: 800; }
  .app-row.favorite span.small {
    font-size: 18px;
    opacity: 0.8;
    font-weight: 300;
    padding-left: 5px; }
  .app-row.search {
    font-size: 16px; }
    .app-row.search i {
      padding-right: 5px; }
  .app-row.label span {
    font-style: italic;
    opacity: 0.4;
    color: black;
    font-size: 14px;
    font-weight: 300; }
  .app-row.list {
    font-weight: 800; }
    .app-row.list .pull-left {
      font-weight: 800; }
    .app-row.list .pull-right {
      color: #65C997; }
  .app-row:last-of-type {
    border-bottom: none; }

#main {
  width: 100vw; }
  #main .main-wrapper {
    background: white;
    margin: 0px; }
  #main input {
    border: none !important; }

#header {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-width: 1px 0px;
  height: 15vh;
  color: white;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }
  #header h4 {
    font-weight: 700;
    font-size: 24px;
    padding: 0;
    margin: 0; }
  #header p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    font-style: italic; }
  #header.orange {
    background-color: #F4A66D; }
  #header.green {
    background-color: #65C997; }
  #header.red {
    background-color: #F46D6D; }
  #header.expanded {
    height: 70vh; }
  #header .main-header {
    padding: 0 15px; }
  #header .connection-header {
    display: block;
    position: relative; }
    #header .connection-header .goToMain {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px; }
    #header .connection-header .title, #header .connection-header .display, #header .connection-header .time-bar, #header .connection-header .status {
      width: 100%;
      float: right; }
    #header .connection-header .title {
      height: 20vh; }
      #header .connection-header .title span.big {
        font-size: 36px;
        font-weight: 800; }
      #header .connection-header .title span.small {
        font-size: 24px;
        opacity: 0.8;
        font-weight: 300;
        padding-left: 5px; }
    #header .connection-header .display {
      height: 28vh;
      overflow: hidden;
      line-height: 1; }
      #header .connection-header .display .main-display {
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease; }
        #header .connection-header .display .main-display.closed {
          margin-right: -10vw;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -ms-transition: all 300ms;
          -o-transition: all 300ms;
          -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }
        #header .connection-header .display .main-display .huge {
          font-size: 28vh;
          font-weight: 700; }
          #header .connection-header .display .main-display .huge.shrink {
            font-size: 23vh; }
        #header .connection-header .display .main-display .small {
          font-size: 6vh;
          font-weight: 300; }
      #header .connection-header .display .delay {
        background-color: white;
        width: 20vw;
        height: 20vw;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        text-align: center;
        padding-top: 1.5vh;
        margin-left: 10px;
        margin-bottom: 15vw; }
        #header .connection-header .display .delay span {
          color: #F46D6D;
          line-height: 0; }
          #header .connection-header .display .delay span.upper {
            font-size: 8vw;
            font-weight: 800; }
    #header .connection-header .status {
      height: 6vh;
      overflow: hidden; }
      #header .connection-header .status span {
        font-style: italic;
        font-size: 20px;
        opacity: 0.75; }
    #header .connection-header .time-bar {
      height: 16vh;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      width: 100vw;
      white-space: nowrap;
      text-align: left; }
      #header .connection-header .time-bar::-webkit-scrollbar {
        display: none; }
      #header .connection-header .time-bar .time-block {
        display: inline-block;
          display-white-space: nowrap; }
        #header .connection-header .time-bar .time-block .top {
          height: 65%;
          width: 100%;
          float: left; }
          #header .connection-header .time-bar .time-block .top span {
            margin-left: -4.5vw;
            font-size: 3.5vw; }
        #header .connection-header .time-bar .time-block .bottom {
          height: 35%;
          width: 100%;
          border-left: solid 1px white;
          float: left;
          position: relative; }
          #header .connection-header .time-bar .time-block .bottom .grad {
            width: 100%;
            height: 4vh;
            position: absolute;
            bottom: 1px;
            left: 0; }
        #header .connection-header .time-bar .time-block.small {
          width: 14vw;
          height: 100%;
          margin-right: -1.1vw !important; }
        #header .connection-header .time-bar .time-block.medium {
          width: 22vw;
          height: 100%;
          margin-right: -1.1vw !important; }
        #header .connection-header .time-bar .time-block.large {
          width: 28vw;
          height: 100%;
          margin-right: -1.1vw !important; }
        #header .connection-header .time-bar .time-block:first-of-type {
          padding-left: 15vw;
          width: 36vw;
          margin-right: -1.5vw !important; }
          #header .connection-header .time-bar .time-block:first-of-type .top {
            height: 60%; }
            #header .connection-header .time-bar .time-block:first-of-type .top span {
              font-weight: 800;
              font-size: 5vw;
              margin-left: -6vw; }
          #header .connection-header .time-bar .time-block:first-of-type .bottom {
            height: 40%; }
            #header .connection-header .time-bar .time-block:first-of-type .bottom .grad {
              height: 4vh;
              position: absolute;
              bottom: 1px;
              left: 0;
              width: 36vw;
              margin-left: -16vw; }

#footer {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-width: 1px 0px;
  margin-top: 10px; }
