#header
	background: rgba(0,0,0,0.03)
	border: 1px solid rgba(0,0,0,0.06)
	border-width: 1px 0px
	height: 15vh
	color: white
	@include transition(500ms)
	h4
		font-weight: 700
		font-size: 24px
		padding: 0
		margin: 0
	p 
		font-size: 16px	
		padding: 0
		margin: 0
		opacity: 0.5
		font-style: italic
	&.green
		background-color: $orange
	&.green
		background-color: $green	
	&.red
		background-color: $red	
	&.expanded
		height: 70vh
	.main-header
		padding: 0 15px	
	.connection-header
		display: block
		position: relative
		.goToMain
			position: absolute
			top: 10px
			right: 15px
			font-size: 20px
		.title, .display, .time-bar, .status
			width: 100%
			float: right	
		.title 
			height: 20vh
			span 	
				&.big 
					font-size: 36px
					font-weight: 800
				&.small 
					font-size: 24px
					opacity: 0.8
					font-weight: 300
					padding-left: 5px

		.display
			height: 28vh
			overflow: hidden
			line-height: 1
			.main-display
				@include transition(300ms)
				&.closed
					margin-right: -10vw
					@include transition(300ms)
				.huge
					font-size: 28vh
					font-weight: 700
					&.shrink
						font-size: 23vh
				.small
					font-size: 6vh	
					font-weight: 300
			.delay
				background-color: white
				width: 20vw
				height: 20vw
				border-radius: 10px
				border-bottom-left-radius: 0px
				text-align: center
				padding-top: 1.5vh
				margin-left: 10px
				margin-bottom: 15vw
				span 
					color: $red
					line-height: 0
					&.upper
						font-size: 8vw
						font-weight: 800
		.status
			height: 6vh
			overflow: hidden
			span 
				font-style: italic
				font-size: 20px
				opacity: 0.75				
		.time-bar
			height: 16vh
			overflow-y: hidden
			overflow-x: scroll
			-webkit-overflow-scrolling: touch
			width: 100vw
			white-space: nowrap
			text-align: left
			&::-webkit-scrollbar
				display: none
			.time-block
				display: inline-block
    			white-space: nowrap
    			margin-right: -4px !important
				.top
					height: 60%
					width: 100%
					float: left
					span 
						margin-left: -4.5vw
						font-size: 3.5vw
				.bottom
					height: 40%
					width: 100%
					border-left: solid 1px white
					float: left
					position: relative
					.grad
						width: 100%
						height: 4vh
						position: absolute
						bottom: 1px
						left: 0
				&.small
					width: 14vw
					height: 100%
				&.medium
					width: 22vw	
					height: 100%
				&.large
					width: 28vw	
					height: 100%	
				&:first-of-type
					padding-left: 10vw
					width: 23vw	
					margin-right: -1.2vw !important
					.top
						height: 40%
						span 
							font-weight: 800
							font-size: 5vw
							margin-left: -6vw
					.bottom 
						height: 60%
						.grad
							width: 100%
							height: 4vh
							position: absolute
							bottom: 1px
							left: 0
							width: 23vw	
							margin-left: -11vw
						

				

