
<template name="header">
	<div id="header" class="{{statusColor}} {{headerHeight}}">

		{{#if isMain}}
			<div class="main-header animated fadeIn flexleft">
				<div>
					<h4>Select Departure</h4>
					<p>or search for the right station</p>
				</div>	
			</div>
		{{/if}}
		{{#if isConnection}}
			{{#if timeData}}
				<div class="connection-header animated fadeIn">
					<div class="goToMain">
						<i class="ion-close"></i>
					</div>
					<div class="title">
						<div class="flexbottom">
							<div>
								<div class="row text-center">
									<span class="big">Work</span>
									<span class="small">to home</span>
								</div>
								<div class="row text-center">
									<span>U8 from Rosenthaler Platz</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="display">
						<div class="flexbottom">

							<div class="main-display {{#if nextTime.delay}} {{else}} closed {{/if}}">
								<span class="huge {{#with minuteCount}}{{#if longTime}}shrink{{/if}}{{/with}}">{{minuteCount}}</span>
								<span class="small">min</span>
							</div>
							{{#if nextTime.delay}}
								<div class="delay  animated{{#if nextTime.delay}}  fadeInRight {{else}}  fadeOutRight {{/if}}">
									<div class="flexcenter">
										<div>
											<div class="row">
												<span class="upper">+{{nextTime.delay}}</span>
											</div>
											<div class="row">
												<span class="lower">LATE</span>
											</div>
										</div>
										
									</div>
								</div>
							{{/if}}
						</div>
					</div>
					<div class="status">
						<div class="flexcenter">
							{{#if getClosest}}
							<span class="animated fadeIn">Plenty of legroom</span>
							{{else}}
								<span class="animated fadeIn">Loading...</span> 
							{{/if}}
						</div>
					</div>
					<div class="time-bar">
						{{#each timeData}}
							<div class="time-block {{timeSteps}}">
								<div class="top">
									<div class="flexbottomleft">
										<span>{{time}} {{#if hasDelay}}+{{/if}}</span>
										
									</div>
								</div>
								<div class="bottom">
									<div class="grad" style="background: -webkit-linear-gradient(left, yellow 0%, green 100%)"></div>
								</div>
							</div>
						{{/each}}					
					</div>

				</div>
			{{/if}}
		{{else}}
			<!-- {{> loader}}	 -->
			Loading
		{{/if}}
	</div>
</template>