
<template name="header">
	<div id="header" class="{{statusColor}} {{headerHeight}}">

		{{#if isMain}}
			<div class="main-header animated fadeIn flexleft">

					<div>
						<h4>Select Departure</h4>
						<p>or search for the right station</p>
					</div>
				
			</div>
		{{/if}}
		{{#if isConnection}}
			<div class="connection-header animated fadeIn">
				<div class="goToMain">
					<i class="ion-close"></i>
				</div>
				<div class="title">
					<div class="flexbottom">
						<div>
							<span class="big">Work</span>
							<span class="small">to home</span>
						</div>
					</div>
				</div>
				
				<div class="display">
					<div class="flexcenter">
						<div>
							<span class="huge">4</span>
							<span class="small">min</span>
						</div>
						{{#if delay.status}}
							<div class="delay animated slideInRight">
								<div class="flexcenter">
									<div>
										<div class="row">
											<span class="upper">+{{delay.minutes}}</span>
										</div>
										<div class="row">
											<span class="lower">LATE</span>
										</div>
									</div>
									
								</div>
							</div>
						{{/if}}
					</div>
				</div>
				<div class="status">
					<div class="flexcenter">
						<span>Plenty of legroom</span>
					</div>
				</div>
				<div class="time-bar">
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom">
							
						</div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>
					<div class="time-block small">
						<div class="top">
							<div class="flexbottomleft">
								<span>18:30</span>
							</div>
						</div>
						<div class="bottom"></div>
					</div>

					
				</div>

			</div>
		{{/if}}
	</div>
</template>